/* Estilo de la barra de navegación */
.navbar {
  background: rgba(0, 0, 0, 0.7); /* Transparencia */
  backdrop-filter: blur(10px); /* Desenfoque */
  padding: 0.5rem 1rem; /* Reduce el padding del nav */
}

/* Estilo de los enlaces */
.nav-item .nav-link {
  color: #ececec !important;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
  transition: background 0.3s ease, transform 0.2s ease;
}

/* Efecto hover */
.nav-item .nav-link:hover {
  background: #ffffff;
  color: #000 !important;
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
p {
  font-size: 1.5rem;
}

.icons-img {
  width: 50px;
  margin: 0 20px;
}
.icons-img:hover {
  transform: scale(1.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Estilo de la lista de tecnologías */
ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

li img {
  width: 50px;
  margin: 0 20px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

div {
  margin-top: 70px;
}

/* Ajustes para las tarjetas de proyectos */
.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover en las tarjetas */
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Ajuste para imágenes */
.project-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Gradiente de título */
.text-gradient {
  background: linear-gradient(to right, #007bff, #6610f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* CSS adicional (opcional) */
#contactForm {
  max-width: 600px;
  margin: 0 auto;
}

textarea.form-control {
  resize: none; /* Impide el redimensionamiento manual del área de texto */
}
