<nav class="flex flex-1 items-center justify-between whitespace-nowrap border-b border-solid border-b-[#283339] px-10 py-5">
  <div class="flex flex-1 justify-end gap-8">
    <div class="flex items-center gap-8">
      <a data-translate="nav_home" class="text-base font-medium text-white transition-colors hover:text-[var(--primary-400)]"
        href="/index.html">Inicio</a>
      <a data-translate="nav_about" class="text-base font-medium text-white transition-colors hover:text-[var(--primary-400)]"
        href="/about.html">Sobre mi</a>
      <a data-translate="nav_achievements" class="text-base font-medium text-white transition-colors hover:text-[var(--primary-400)]"
        href="/achievements.html">Logros</a>
      <a data-translate="nav_skills" class="text-base font-medium text-white transition-colors hover:text-[var(--primary-400)]"
        href="/tech.html">Habilidades</a>
      <a data-translate="nav_contact" class="text-base font-medium text-white transition-colors hover:text-[var(--primary-400)]"
        href="/contact.html">Contacto</a>
    </div>
    <div class="flex items-center gap-4 ml-8">
      <div class="flex items-center gap-2">
        <button data-lang="es" class="lang-btn font-bold text-white">ES</button>
        <span class="text-gray-500">|</span>
        <button data-lang="en" class="lang-btn text-gray-400">EN</button>
      </div>
    </div>
  </div>
</nav>